<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <sessionState mode="Off" />
    </system.web>
    <system.webServer>
        <caching enabled="false" enableKernelCache="false" />
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
            </customHeaders>
        </httpProtocol>
        <staticContent>
            <remove fileExtension=".manifest" />
            <mimeMap fileExtension=".manifest" mimeType="application/manifest+json" />
            <clientCache cacheControlMode="DisableCache" />
             <remove fileExtension=".html" />
            <mimeMap fileExtension=".html" mimeType="text/html" />
  
        </staticContent>
		


    </system.webServer>
		<location path="index.html">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="Cache-Control" value="no-store, max-age=0" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>

</configuration>

